<div class="container standard-container">  <!--Estilo defininido-->
    <div class="col-md-6 standard-form-2">

        <center><h4 class="text-white">Cambiar Contraseña</h4></center>
        <form method="POST" action="/change_pass">  <!--Se define la forma de enviar los datos-->
            <% if flash[:error_message]%> <!--Se notifica en caso de algun error-->
               <p><%= flash[:error_message] %></p>
            <% end %>
            <div class="form-group">    <!--se ingresa la contraseña nueva-->
                <center><input type="password" class="form-control" name="password1" placeholder="Nueva Contraseña" /></center>
            </div>
            <div class="form-group">    <!--se ingresa la confirmacion contraseña nueva-->
                <center><input type="password" class="form-control"  name="password2" placeholder="Confirmar Contraseña" /></center>
            </div>
            <div class="profilebtn .btnSubmit">     <!--Confirmacion-->
                <center><input type="submit" class="btnSubmit" value="Confirmar" /></center>
            </div>
            <div class="form-group"></div>
        </form>
        </div>
    </div>
