<!DOCTYPE html>
<html>
<head>
		<title>SISTEMA DE NOTIFICACIÓN</title>
		<meta charset="utf-8">
	</head>
	<body>
		<header class="header">
			<div class="container logo-nav-container">
				<a href="/" class="title">Sistema de notifiación</a>
				<nav class="navigation">
					<ul>
                        <li><a href="/"> Docs</a></li> 
                         <li><a href="/login"> Log in</a></li>                    
                        <li><a href="/signup">Sign up</a></li> 
                    </ul>
				</nav>
			</div>
		</header>
		
	</body>
	

</html>