<!DOCTYPE html>
<html>
	<body>
		</header>
			<tr>
				<th><h3>Documentos</h3></th>
			</tr>
			<tr>
				<td><form method="POST" action="/docs">
					<p>Documento: <input type="text" username="username"></p>
					</form>
				</td>
			</tr>	
	</body>
</html>