</header>
	<th><h3>Documentos</h3></th>
		<form method="POST" action="/document">
			<p>Titulo: <input type="text" name="title"></p>
			<p>Tema: <input type="text" name="topic"></p>
			<th><h2>Etiquetas</h2></th>
			<!--<p>Etiqueta: <input type="text" name="tag"></p>
			-<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			<p>Etiqueta: <input type="text" name="tag"></p>
			-->
			</br><input type="submit" name="ENVIAR" value="ENVIAR" /></p>
		</form>
				
				
	