<div class="container">
  </br>
  <center><h3>Mis Documentos</h3></center>
  </br>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Titulo</th>
        <th>Tema</th>
        <th>Archivo</th>
        <th>Action</th>
      </tr>
    </thead>
  <tbody> 
    <% @documents.each do |d| %>
  <tr>
    <td><%=d.title %></td>
    <td><%=d.topic %></td>
    <td><%=d.file %></td>
    <td><a href = "<%="#{d.id}#{d.file}"%>" target="_blank" >Ver</a></td>
    <%end%>
  </tr>
  </tbody>
</table>
</div>
