<div class="container">
<table class="table table-striped">
  <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Tema</th>
        <th>Archivo</th>
      </tr>
    </thead>
  <tbody>
  	<% @documents.each do |d| %>
  <tr>
  	<td><%=d.id%></td>
    <td><%=d.title %></td>
    <td><%=d.topic %></td>
    <td><%=d.file %></td>
    <%end%>
  </tr>
  </tbody>
</table>
</div>