<div class="container">
  </br>
  <center><h2 class="text-white">Mis Documentos</h2></center>
  </br>
  <table class="table table-striped">
  <thead>
      <tr>
        <th class="text-white">Titulo</th>
        <th class="text-white">Tema</th>
        <th class="text-white">Archivo</th>
        <th class="text-white">Action</th>
      </tr>
    </thead>
  <tbody> 
    <% @documents.each do |d| %>
  <tr>
    <td class="text-white"><%=d.title %></td>
    <td class="text-white"><%=d.topic %></td>
    <td class="text-white"><%=d.file %></td>
    <td><a href = "<%="#{d.id}#{d.file}"%>" target="_blank" >Ver</a></td>
    <%end%>
  </tr>
  </tbody>
</table>
</div>


  