<!DOCTYPE html>
<html>
    <body>
        </header>
            <tr>
                <th><h3> Sistema de notificación </h3></th>
            </tr>
            <tr>    
                <td><form method="POST" action="/index">
                        <li><a href="/signup">Registrarse</a></li> 
	                    <li><a href="/login">Iniciar Sesión</a></li
                    </form>
                </td>
            </tr>
    </body>         
</html>