<div class="container standard-container">
    <div class="col-md-6 standard-form-2">
        <h3>Iniciar Sesión</h3>
        <form method="POST" action="/login">    <!--Se define la forma de enviar los datos-->
            <div class="form-group">        <!--Formulario de inicio de sesion-->
                <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>
            <div class="form-group">    
                <input type="password" class="form-control" placeholder="Contraseña" name="password" />
            </div>
            <% if @error %>     <!--Se notifica en caso de algun error-->
    			<p class="error"><%= @error %></p>
  			<% end %>
            <div class="form-group">    <!--Boton de inicio de sesion -->
                <center><input type="submit" class="btnSubmit" value="Entrar" /></center>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>