<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-light" href="/"> <b> Sistema de notificacion </b> </a>
    <div class="navbar-nav ml-auto" >
      <!-- If current_user.present?
            <a class="btn btn-dark navbar-btn" href="/document">Documento</a>
          else -->
            <a class="btn btn-dark navbar-btn" href="/login">Iniciar sesión</a>
            <a class="btn btn-dark navbar-btn" href="/signup">Registrarse</a>
            <a class="btn btn-dark navbar-btn" href="/document">Nuevo Documento</a>
            <a class="btn btn-dark navbar-btn" href="/documents">Documentos</a>
      <!--end-->
    </div>
</nav>