<div class="container standard-container">
    <div class="col-md-6 standard-form-2">
        <center><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt class="d-block ui-w-100 rounded-circle"></center>
        <center><h4 class="text-white"><%= @user.username%></h4></center>
        <div class="text-white">
        	<center>Nombre: <%= @user.name%></center>
			<center>Email: <%= @user.email%></center>
		</div>
</div>
