<!DOCTYPE html>
<html>
    <body>
        </header>
            <tr>
                <th><h3> Registrarse </h3></th>
            </tr>
            <tr>    
                <td><form method="POST" action="/signup">
                        <p>Nombre: <input type="text" name="name"></p>
                        <p>Email: <input type="text" name="email"></p>
                        <p>Usuario: <input type="text" name="username"></p>
                        <p>Contraseña: <input type="password" name="password"></p>
                        </br><input type="submit" name="SIGN UP" value="SIGN UP" /></p>
                        <a href="/"> Atras </a> 
                    </form>
                </td>
            </tr>
    </body>         
</html>