<div class="container standard-container">
    <div class="col-md-6 standard-form-2">
        <h3>Registrarse</h3>
        <form method="POST" action="/signup"> <!--Se define la forma de enviar los datos-->
            <!--Formulario de registro-->
            <% if flash[:error_message] %> <!--Se notifica en caso de algun error-->
                <p><%= flash[:error_message] %></p>
            <% end %>
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Nombre"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" name="password" />
            </div>
            <div class="form-group">
                <!--Confirmacion de registro-->
                <center><input type="submit" class="btnSubmit" value="Registrar" /></center>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
