<div class="container">
    <h3> Registrarse </h3>
            <form method="POST" action="/signup">
                        <p>Nombre: <input type="text" name="name"></p>
                        <p>Email: <input type="text" name="email"></p>
                        <p>Usuario: <input type="text" name="username"></p>
                        <p>Contraseña: <input type="password" name="password"></p>
                        </br><input type="submit" name="SIGN UP" value="Registrar" /></p>
            </form>
</div>                      