<!DOCTYPE html>
<html>
        <head>
        <title>Notificación</title>
        <meta charset="utf-8">
        </head>
    <body>
        <header class="header">
            <a href="/" class="title">SISTEMA DE NOTIFICACIÓN</a>
                <div class="container logo-nav-container">
                <nav class="navigation">
                    <ul>              
                         <li><a href="/login"> Log in</a></li>
                        <li><a href="/signup"> Sign up</a></li> 
                    </ul>
                </nav>
            </div>
        </header>
        <tr>
            <th><h3> SIGN UP </h3></th>
        </tr>
            <tr>    
                <td><form method="POST" action="/signup">
                        <p>Your name: <input type="text" name="name"></p>
                        <p>Your email: <input type="text" name="email"></p>
                        <p>Your username: <input type="text" name="username"></p>
                        <p>Your password: <input type="password" name="password"></p>
                        <a href="/login"> Login</a>
                        </br><input type="submit" name="SIGN UP" value="SIGN UP" />
                    </form>
                </td>
            </tr> 
	</body>
</html>