<!DOCTYPE html>
<html>
        </header>
        <tr>
            <th><h3> SIGN UP </h3></th>
        </tr>
            <tr>    
                <td><form method="POST" action="/signup">
                        <p>Your name: <input type="text" name="name"></p>
                        <p>Your email: <input type="text" name="email"></p>
                        <p>Your username: <input type="text" name="username"></p>
                        <p>Your password: <input type="password" name="password"></p>
                        </br><input type="submit" name="SIGN UP" value="SIGN UP" /></p>
                        <a href="/"> Atras </a> 
                    </form>
                </td>
            </tr> 
</html>