.signup-container{
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    top: 5%;
    left: 25%;
}

.signup-form-2{
    padding: 5%;
    background: #343a40 !important;
    box-shadow: 0 5px 8px 0 #343a40, 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.signup-form-2 h3{
    text-align: center;
    color: #fff;
}
.signup-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.signup-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.signup-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}